RewriteEngine On
RewriteBase /STEP/

# 1. Map /home to index.php
RewriteRule ^home$ index.php [NC,L]

# 4. Internally rewrite clean URLs to .php files
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [NC,L]
